.btn-info {
  font-size: 1.5rem;
  background-color: #875438;
  border-color: #875438;
}

.btn-info:hover {
  background-color: #503120;
  border-color: #503120;
}

.btn-info:focus {
  background-color: #875438;
  border-color: #875438;
  box-shadow: unset;
}

.btn-info:active {
  background-color: black !important;
  border-color: black !important;
  box-shadow: unset;
}

.text-center {
  padding: 35px;
}

img {
  padding: 25px;
}

div#teclado {
  padding: 18px;
  font-size: 2rem;
  color: #0b4e69;
}

.btn-primary {
  background-color: #0b4e69;
  border-color: #0b4e69;
}

#dica {
  font-size: 2rem;
  color: #875438;
}

#palavraDestacada {
  font-size: 2.5rem;
  color: #875438;
}

.titulo {
  color: #875438;
}

.erros,
.main {
  padding: 0;
}

.erros {
  font-size: 1.5rem;
  color: #875438;
}
